<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

  <title>JOB4J Todo</title>

</head>

<body>

<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-info bg-dark" href="/index">JOB4J TODO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search task" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/tasks}">TODO list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/tasks/add}">NEW task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/tasks/done}">Done list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/tasks/unDone}">Undone list</a>
          </li>
          <li class="nav-item position-absolute top-0 end-0">
            <a class="nav-item nav-link" th:if="${user.name == 'Гость'}" th:href="@{/users/loginPage}">
              <span th:text="${user.name}"></span>
              <span> | Войти</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.name != 'Гость'}" th:href="@{/users/logout}">
              <span th:text="${user.name}"></span>
              <span> | Выйти</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="p-3">
    <div class="text-center">
      <h1 class="mt-5">Create Task</h1>
    </div>
  </div>

  <div class="row pt-3">
        <form th:action="@{/tasks/create}" method="POST" th:object="${task}">
          <input type="hidden" name="id" value="0"/>
          <div class="form-group">
            <input type="text" class="form-control" name="description" id="description" th:placeholder="*{description}">
          </div>
            <div class="btn-group dropend">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                ВС в конце
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:value="urgently">Urgently</a></li>
                <li><a class="dropdown-item" th:value="normal">Normal</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:value="null">Without priority</a></li>
              </ul>
            </div>
          <div class="form-check">
            <input type="checkbox" name="visible" class="form-check-input" id="visible">
            <label class="form-check-label" for="visible">Опубликовать</label>
          </div>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
  </div>

</div>

</body>
</html>